
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');




body{
    background: rgb(23, 47, 119);
}





@media (max-width:600px){

 *{
 box-sizing: border-box;
margin: 0;
 }
body{
    background: black;

}


 header{
     border:3px solid rgb(255, 136, 0);
     height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    
    
 }
#dados{

  margin-top: 20% ;
}
h1{
    font-family: "Bebas Neue", serif;
    margin-top: -130px;
    font-size: 2.2rem;
   border-bottom: 2px solid rgb(255, 136, 0);
     border-radius: 4px;
    text-align: center;
    font-weight: 400;
    color: white;
   margin-bottom: 15%;
}


h2{
    font-size: 1.8rem;
    color: white;
    text-align: center;
    font-family: "Bebas Neue", serif;
    font-weight: 300;
    
    
}


input {
  width: 80%;
    border-radius: 5px;
      margin-left: 9%;
     padding: 7px 30px;
     border: 2px solid rgb(255, 136, 0);
    

}
button{
    max-width: 150px;
    margin-top: 5%;
     width: 80%;
    border: none;
    border-radius: 5px;
       padding: 6px;
      margin-left: 20%;
     background: rgb(255, 136, 0);

}
button:hover {
    background: rgb(200, 100, 0);
    transition: background 0.3s ease;
    color: white;
}


#res{
    color: white;
    text-align: center;
    font-size: 15pt;
    font-weight: 300;
    margin-top: 10%;
    font-family: "Bebas Neue", serif;
  
    
}
 
hr{
    
        border: none;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        margin: 10px 0;

    
}


 }

